@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

/* ======================================= */
/*                  GLOBALS                */
/* ======================================= */

body, 
html{
	font-family: 'Amatic SC';
	font-weight: 700;

	height: 100%;

	background-color: #F6F4F5;
	color: black;
}

h1,
h2,
h3 { /* Adds text-shadow to all the text in front page */
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

/* Title */
h1 {
	font-size: 50px;
	color: #545454;
}

/* Mini-Bio */
h3 {
	font-size: 25px;
}

/* Panda Bear GIF image on front page */
#bear {
	content: url('../gifs/tripanda.gif');
	height: 300px; width: 200px;
	position: relative;
	top: 25px; /* Push it up a bit (Position MUST be RELATIVE) */
	left: 45px;

	z-index: -1; /* Put image behind any text */
}

.main-page {
	position: relative;
	right: 80px;
}

li {
	list-style: none;
}

#icons {
	margin-left: 110px;
}
#icons li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.fa-github,
.fa-linkedin,
.fa-twitter {
	font-size: 20px;
	color: #545454;
	cursor: pointer;
}

.fa-spin-hover:hover {
    /* If you hover over it, it'll spin at .7 speed */
    animation: fa-spin .7s;
}


div { 
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;    
}
/* ======================================= */
/*                BOTH COLUMN              */
/* ======================================= */

.left-col,
.right-col { /* Make it so text is centered and it's sitting above any other content */
	position: relative;
	margin-top: 100px;
	text-align: center;

	z-index: 1;
}

/* ======================================= */
/*                LEFT COLUMN              */
/* ======================================= */

.rotate {
/* Safari */
-webkit-transform: rotate(-15deg);
/* Firefox */
-moz-transform: rotate(-15deg);
/* IE */
-ms-transform: rotate(-15deg);
/* Opera */
-o-transform: rotate(-15deg);
}

.left-col {
	left: 30px;
}

.left-col h1 {
	position: relative;
	left: 45px;
}



/* ======================================= */
/*                RIGHT COLUMN             */
/* ======================================= */

.right-col {
	text-align: left;
	margin-bottom: 50px;
	top: -20px;
}

/* Vertical border next to content */
.separator {
    height: 100%; width: 2px;

    position: absolute;
    left: 0; /* Can only do this if it has a position */
    top: 0;

    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
    background: rgba(204,204,204,1);
}

.right-col h1 {
	position: relative;
	text-align: left;
	left: 20px;
	font-size: 35px;
}

/* Move text right a bit of the vertical border */
.right-col h3 {
	position: relative;
	left: 20px;
}

/* For all of the clickable content on right column*/
.right-col h2 {
	width: 100px;
	padding-bottom: 10px;

	position: relative;
	left: 20px;

	font-size: 37px;
	text-align: left;
	color: #545454;

	transition: left .3s;
	cursor: pointer;
}

/* Hovering (move right) animation for clickable content */
#work:hover,
#projects:hover,
#contact:hover,
#resume:hover,
#hireme:hover {
	left: 50px;
}


/* ======================================= */
/*               MEDIA QUERIES             */
/* ======================================= */
@media (max-width: 767px) { /* For small devices */
	.rotate {
		/* Safari */
        -webkit-transform: rotate(0deg);
        /* Firefox */
        -moz-transform: rotate(0deg);
        /* IE */
        -ms-transform: rotate(0deg);
        /* Opera */
        -o-transform: rotate(0deg);
	}

	.left-col h1 {
		left: 0;
	}

	#icons { /* Make icons turn perfectly horizontal and give them space */
		position: relative;
		margin: 20px 45px 15px 0;
	}

	.main-page { /* When it's smaller, reset the right-side pushing I added in */
		right: 0;
	}

	#bear { /* Switch to a different bear gif and move it down a bit */
		top: -70px;
		content: url('../gifs/drawing.gif');
		height: 300px;
		width: 300px;
		left: 0;
	}

	/* Remove any manual pushing/padding on right/left columns */
	.left-col,
	.right-col {
		left: 0;
		right: 0;
		padding: 0;
	}

	/* Make sure left column is sitting on top of right col and is spaced nicely */
	.left-col {
		margin: 50px auto -100px auto;
	}

	/* Making sure right-col is spaced nicely */
	.right-col {
		margin-top: 5px;
		padding: 0 20px 50px 20px; /* So text doesn't touch both sides of the browser's window */
		top: 0;
	}

	/* Remove any left-pushing when on smaller devices */
	.right-col h1,
	.right-col h2,
	.right-col h3 {
		left: 0;
	}

	/* Remove the vertical border when small device */
	.separator {
		display: none;
	}
}